<h1>Details</h1>

<% if @article !=nil %>
    <div>
        <p><b>Title: </b>
            <%= @article.title%>
                <b>Body: </b>
                <%= @article.body%>
                    <b>Author: </b>
                    <%= @article.author%>
        </p>
    </div>
    <li>
        <%= link_to "Delete" , article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }
            %>
    </li>
    <% end %>